@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Fredericka+the+Great|Mada');

body {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-family: 'Mada', 'Verdana', 'Arial Narrow Bold', sans-serif
}

h2 {
    color: rgb(139, 0, 0);
    font-family: 'Fredericka the Great';

}
p {
    font-size: 20px;
    text-align: justify;
}

header {
    margin: 0px;
    padding: 0px;
}

.header {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
    background: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(236, 236, 243);
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-right: 60px;
    font-family: 'Rockwell', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* box-shadow: 0 1px 4px rgb(0,0,0,.4); */
}

h1 {
    text-transform: uppercase;
    font-color: black;
    font-family: 'Fredericka the Great';

}

h3 {
    font-size: 30px;
    border-bottom: 5px solid rgb(0, 0, 0)
}

/* This is the menu part */

ul {
    list-style-type: none;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    /* padding: 0; REDUNDANT TAG*/
    overflow: hidden;
    background-color: rgb(98, 120, 243);
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color:rgb(139, 0, 0);
}

/* main body */

.pic {
    float: left;
    width: 180px; 
    padding-right: 20px;
    padding-bottom: 10px;
}

.contact {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(255, 255, 160);
    color: rgb(0, 0, 0);
    padding-left: 200px;
    padding-top: 40px;
    padding-bottom: 200px;
}


.img1 {
    float: left;
}
/* Media Queries */

@media (min-width: 769px){

.home {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 100px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.intro {
    margin-left: 20%;
    margin-right: 20%;

}
.columsfront {
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: auto;
    padding-bottom: 20%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
    
}

.col1  {
    width: 230px;
    float: left;
    margin: 5px;
}
.col2 {
    width: 250px;
    float: left;
    margin: 5px;
}
.col3 {
    width: 230px;
    float: left;
    margin: 5px;
}

}